.TopBar{
    display: flex;
    background-color: rgb(1, 1, 75);
    color: white;
    align-items: 'center';
    margin-bottom: 20px;
    padding: 10px;
}

.FormBox{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: rgb(100, 100, 110) 0px 7px 20px 0px;
    min-height: 100px;
}

.FormArea{
    width: 33%;
    padding: 15px;
    margin-bottom: 15px;
}